
      <footer class= "fixed-footer">
            <div class="text"> 
                <h2>Subscribe</h2>
                <mat-form-field> <input  matInput placeholder="enter your mail" type="search" style="color:whitesmoke" ></mat-form-field>
            </div>

           <!-- <div class="copyright"><strong> Copyright © 2019 Music App. All rights reserved.<br>
           <a> Privacy Satement</a> | <a> Terms of Use </a></strong></div> -->

            <div class="floatRight">
                    <h3>FOLLOW US</h3>
         <a href="#"> <img src="assets/gmail.png" alt="youtube"/> </a>
         <a href="#"> <img src="assets/twitter.png" alt="twitter" /> </a>
         <a href="#"> <img src="assets/linkedin.png" alt="linkedin"/> </a>
         <a href="#"> <img src="assets/facebook.png" alt="facebook" /> </a>
         </div>

         <div class="copyright"><strong> Copyright © 2019 Music App. All rights reserved.<br>
            <a> Privacy Satement</a> | <a> Terms of Use </a></strong></div>
               
       </footer>