#logo{ 
width:150px;
/* float: left; */
padding-right: 10px; }
/* 
#search >*:not(:first-child){
/* float: right; */
/* padding-left:370px; */

/* } */
 
 #search{
    padding: 60px;
}  

#button{
background-color:aliceblue;

}

#playlist{
    background-color: aliceblue;
    /* background-size: 300px; */
 } 
 .play-list1{
     padding-top: 17px;
 }
 .navbar{
     position: fixed;
     z-index: 100;
     /* background-color:#d85a66; */
     background-color: #9ebbba;
 }